* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    color: #f5f5f5;
}

body {
    height: 100vh;
    background: rgb(29,113,242);
    background: linear-gradient(180deg, rgba(29,113,242,1) 0%, rgba(28,156,246,1) 40%, rgba(25,195,251,1) 100%);
}

#main-grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
}

header {
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar-container {
    border-radius: 8px;
    width: 15%;
}

#searchbar {
    border-radius: 8px;
    width: 100%;
    height: 30px;
    color: black;
    outline: none;
    border: none;
    padding: 0px 10px;
}

.toggle-degrees-unit {
    width: 180px;
    height: 50px;
    border: 2px solid white;
    margin: 50px auto;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 0 0 4px white;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.toggle-degrees-unit:hover {
    background-color: rgb(29,113,242);
}

.toggle-degrees-unit:active {
    background-color: rgba(28,156,246,1);
}

aside.left {
    grid-area: 2 / 1 / span 1 / span 1;
    font-size: 1.5rem;
}

.aside-left-row,
.aside-right-row {
    border: 1px solid white;
    border-radius: 8px;
    margin: 20px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 6px white;
}

.aside-left-value {
    font-size: 2.5rem;
}

main {
    grid-area: 2 / 2 / span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main-info {
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 100px;
    font-size: 2rem;
    width: 50%;
    height: fit-content;
    text-align: center;
    padding: 8px;
    box-shadow: 0 0 10px white;
}

.main-info > div {
    margin: 10px;
}

.row-one {
    font-size: 2.5rem;
}

.row-two {
    font-size: 5rem;
}

.row-three {
    font-size: 1.8rem;
}

.row-four > span {
    font-size: 1.5rem;
    margin: 0 8px;
}

aside.right {
    grid-area: 2 / 3 / span 1 / span 1;
    font-size: 1.5rem;
}

.tomorrow-degrees,
.day-two-degrees,
.day-three-degrees {
    text-align: center;
}

.tomorrow-max,
.day-two-max,
.day-three-max {
    font-size: 3rem;
}

.tomorrow-min,
.day-two-min,
.day-three-min {
    font-size: 2rem;
}

footer {
    background-color: white;
    grid-area: 3 / 1 / -1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: auto;
}

.footer-elements-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.odin-icon {
    border-radius: 50%;
    flex: 1;
    height: 38px;
    flex-wrap: wrap;
}

.footer-text {
    font-size: 1.2rem;
    justify-content: flex-start;    
    margin: 10px;
    color: black;
    flex: 1;
}